.list-item {
  width: 100%;
  display: flex;
  padding: 1rem 0;
}

.list-item span {
  flex: 2;
}

.icons {
  flex: 1;
  display: flex;
  gap: 5rem;
}

@media (max-width: 660px) {
  .icons {
    gap: 2rem;
  }
}

@media (max-width: 400px) {
  .icons {
    gap: 1rem;
  }
}
